volumes/nginx/config/certs/*
!volumes/nginx/config/certs/*.example
volumes/nginx/config/keys/*
!volumes/nginx/config/keys/*.example
volumes/ha/config/*
!volumes/ha/config/*.example
!volumes/ha/config/configuration.yaml
.env
