.env
volumes
!volumes/caddy/conf
!volumes/ha/config/*.example
!volumes/ha/config/configuration.yaml
!volumes/ha/config/ui-lovelace.yaml
!volumes/nginx/config/certs/*.example
!volumes/nginx/config/keys/*.example
